* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    min-height: 60vh;
}

a {
    text-decoration: none;
    color: gray;
}

ul li {
    list-style: none;
}

.d-none {
    display: none;
}


.d-block {
    display: block;
}

.blueButton {
    padding: .5em;
    border-radius: 10%;
    border: unset;
    background-color: #0667f9;
}

.redButton {
    padding: .5em;
    border-radius: 10%;
    border: unset;
    background-color: #f90612;
}

.greenButton {
    padding: .5em;
    border-radius: 10%;
    border: unset;
    background-color: #2e6d21;
}

.grayButton {
    padding: .5em;
    border-radius: 10%;
    border: unset;
    background-color: gray;
}

.text-white {
    color: white;
}

header {
    height: 5vh;
}

header>div {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#dropDown {
    position: absolute;
    background-color: black;
    top: 3em;
    left: 1em;
    padding: 1em;
}

#dropDown li:nth-child(n+2) {
    margin-top: .5em;
}

#dropDown li a {
    color: white;
}

#logo,
#mobileMenu {
    width: 100%;
    height: auto;
    text-align: center;
}

#logo img {
    width: 10em;
    height: auto;
}

#mobileMenu img {
    width: 2em;
    height: auto;
}

#desktopMenu {
    display: none;
}

#mainWelcome {
    padding: 2em;
    font-weight: 300;
    line-height: 1.5;
}

#login {
    display: flex;
    align-items: center;
}

#loginForm {
    width: 50%;
    margin: 0 auto;
}

#loginForm .loginInputs {
    margin-top: 1em;
}

#loginForm .loginSubmit {
    margin-top: 1.5em;
    text-align: center;
}

#messages {
    margin: 2em 2em 0 2em;
}

.controlPanel {
    margin-top: 1.5em;
    padding: 1em;
}

.controlPanelElements {
    margin-top: 2em;
    padding: 1em;
    border: 1px solid gray;
}

.controlPanelElements summary {
    width: fit-content;
}

.controlPanelElements details {
    background: #eee;
    color: #444;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.controlPanelElements h4 {
    text-align: end;
    margin-right: 5em;
}

#crudForm {
    padding: 2em;
}

#crudForm form {
    padding: 1em;
}

#crudForm .inputForm {
    margin-top: 1em;
}

#crudForm .submitForm {
    margin-top: 2em;
    text-align: center;
}

#crudForm form {
    border: 1px solid gray;
    background-color: lightyellow;
}

table,
th,
td {
    border: 1px solid gray;
}

th,
td {
    padding: .5em;
}

#showall {
    padding: 2em;
}

#searchDropdown {
    background-color: lightgray;
    width: fit-content;
    padding: 1em;
}

footer {
    height: 35vh;
    bottom: 0;
    padding: 1em;
    width: 100%;
    text-align: center;
    background-color: lightgrey;
}

footer div:nth-child(-n+4) {
    margin-bottom: .8em;
}

#socialNet div {
    display: inline-block;
    font-size: 1.5em;
}

#socialNet div:nth-child(-n+3) {
    margin-right: .5em;
}